/* .my_image {
  width: 500px;
  height: 500px;
  border: ;
}
.my_im {
  background-image: url(image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
} */
